@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icomoon.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
.slider-button::before,
[class*=_icon-]::before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
._icon-arrow:before {
  content: ""
}
._icon-calendar:before {
  content: ""
}
._icon-certification:before {
  content: ""
}
._icon-user:before {
  content: ""
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #0a0013;
  line-height: 1;
  font-family: Montserrat;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Montserrat;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background-color: #eee3ff
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 83.125rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,81.25rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  -webkit-column-gap: 2.5rem;
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem;
  row-gap: .625rem
}
.menu__link {
  font-family: "Montserrat Alternates";
  font-weight: 600;
  font-size: 1.125rem;
  transition: color .3s
}
.icon-menu {
  display: none
}
.spollers {
  display: grid;
  row-gap: .9375rem
}
.spollers__item {
  border-radius: .9375rem;
  border: .0625rem solid #3d0057;
  background-color: #f5efff;
  box-shadow: .125rem 0 .375rem 0 rgba(14,0,20,.1)
}
.spollers__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: normal;
  width: 100%;
  cursor: pointer;
  text-align: left;
  padding: 1.25rem;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  border-radius: .3125rem;
  position: relative;
  list-style: none
}
.spollers__title::-webkit-details-marker,
.spollers__title::marker {
  display: none
}
.spollers__title::before {
  font-size: 1rem;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
._spoller-active.spollers__title::before {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}
.spollers__body {
  padding: 0 1.25rem 1.25rem 1.25rem;
  border-radius: .3125rem
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.button {
  background-color: #50156c;
  color: #fff;
  font-weight: 700;
  padding: .9375rem 1.25rem;
  transition: background-color .3s;
  border-radius: .75rem
}
.text {
  line-height: 1.3
}
.text p:not(:last-child) {
  margin-bottom: .3125rem
}
.title {
  -webkit-transform: translateX(-1.5625rem);
  transform: translateX(-1.5625rem);
  font-family: "Montserrat Alternates";
  font-weight: 700;
  line-height: 1.2;
  opacity: 0;
  transition: opacity .7s .5s,-webkit-transform .5s .5s;
  transition: transform .5s .5s,opacity .7s .5s;
  transition: transform .5s .5s,opacity .7s .5s,-webkit-transform .5s .5s
}
.title._watcher-view {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1
}
.social__title {
  font-weight: 600;
  line-height: normal
}
.social__title:not(:last-child) {
  margin-bottom: .9375rem
}
.social__item:not(:last-child) {
  margin-bottom: .625rem
}
.social__item a {
  display: inline-flex;
  align-items: center;
  -webkit-column-gap: .5rem;
  -moz-column-gap: .5rem;
  column-gap: .5rem;
  transition: opacity .3s
}
.social__text {
  font-size: .875rem
}
.slider-button {
  background-color: #eee3ff;
  box-shadow: 0 0 10px rgba(12,0,21,.2);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  flex: 0 0 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7900ae;
  transition: background-color .3s
}
.slider-button:disabled {
  opacity: .5;
  pointer-events: none
}
.slider-button::before {
  content: ""
}
.slider-button--prev {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}
.slider-button--next {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg)
}
.header {
  background-color: #eee3ff;
  width: 100%;
  z-index: 50;
  opacity: 0;
  transition: opacity .3s;
  position: fixed;
  min-height: 4.375rem;
  padding: .625rem 0;
  display: flex;
  align-items: center
}
.header__container {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-column-gap: 3.75rem;
  -moz-column-gap: 3.75rem;
  column-gap: 3.75rem
}
.header__logo {
  position: relative;
  z-index: 5
}
.header__menu {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center
}
.header__button {
  position: relative;
  z-index: 5
}
._header-scroll {
  opacity: 1
}
.footer {
  background: linear-gradient(78deg,#15002d 0,#31004b 99.85%);
  color: #fff
}
.footer__main {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 1.875rem;
  -webkit-column-gap: 8.125rem;
  -moz-column-gap: 8.125rem;
  column-gap: 8.125rem
}
.footer__main:not(:last-child) {
  margin-bottom: 1.875rem
}
.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.375rem;
  font-weight: 700;
  color: #eee3ff;
  line-height: normal;
  position: relative
}
.footer__logo span {
  display: block;
  transition: opacity .5s .3s,-webkit-transform .3s .3s;
  transition: opacity .5s .3s,transform .3s .3s;
  transition: opacity .5s .3s,transform .3s .3s,-webkit-transform .3s .3s;
  -webkit-transform: translateY(1.25rem);
  transform: translateY(1.25rem);
  opacity: 0;
  padding: 7.75rem 3.75rem;
  position: relative;
  z-index: 2
}
.footer__logo img {
  transition: opacity .5s .3s;
  opacity: 0;
  position: absolute;
  -o-object-fit: contain;
  object-fit: contain;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  max-width: 100%
}
.footer__social:not(:last-child) {
  margin-bottom: 1.875rem
}
.footer__items {
  display: flex;
  flex-direction: column;
  gap: .625rem
}
.footer__item {
  color: #eee3ff;
  line-height: 1.3;
  font-size: 1.125rem;
  opacity: 0;
  -webkit-transform: translateY(.9375rem);
  transform: translateY(.9375rem)
}
.footer__item:nth-child(1) {
  transition: opacity .5s .5s,-webkit-transform .3s .5s;
  transition: opacity .5s .5s,transform .3s .5s;
  transition: opacity .5s .5s,transform .3s .5s,-webkit-transform .3s .5s
}
.footer__item:nth-child(2) {
  transition: opacity .5s .6s,-webkit-transform .3s .6s;
  transition: opacity .5s .6s,transform .3s .6s;
  transition: opacity .5s .6s,transform .3s .6s,-webkit-transform .3s .6s
}
.footer__item:nth-child(3) {
  transition: opacity .5s .7s,-webkit-transform .3s .7s;
  transition: opacity .5s .7s,transform .3s .7s;
  transition: opacity .5s .7s,transform .3s .7s,-webkit-transform .3s .7s
}
.footer__item:nth-child(4) {
  transition: opacity .5s .8s,-webkit-transform .3s .8s;
  transition: opacity .5s .8s,transform .3s .8s;
  transition: opacity .5s .8s,transform .3s .8s,-webkit-transform .3s .8s
}
.footer__item:nth-child(5) {
  transition: opacity .5s .9s,-webkit-transform .3s .9s;
  transition: opacity .5s .9s,transform .3s .9s;
  transition: opacity .5s .9s,transform .3s .9s,-webkit-transform .3s .9s
}
.footer__item a {
  transition: opacity .3s
}
.footer__bottom {
  color: #eee3ff;
  line-height: 1.3;
  font-size: .875rem;
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  row-gap: .9375rem
}
.footer__copyright {
  transition: opacity .5s .5s;
  opacity: 0
}
.footer__powered-by {
  -webkit-transform: translateY(1.875rem);
  transform: translateY(1.875rem);
  opacity: 0;
  transition: opacity .8s 1s,-webkit-transform .5s 1s;
  transition: opacity .8s 1s,transform .5s 1s;
  transition: opacity .8s 1s,transform .5s 1s,-webkit-transform .5s 1s
}
.footer__powered-by a {
  font-weight: 500;
  transition: opacity .3s
}
.social__item {
  opacity: 0;
  -webkit-transform: translateY(.9375rem);
  transform: translateY(.9375rem)
}
.social__item:nth-child(1) {
  transition: opacity .5s .5s,-webkit-transform .3s .5s;
  transition: opacity .5s .5s,transform .3s .5s;
  transition: opacity .5s .5s,transform .3s .5s,-webkit-transform .3s .5s
}
.social__item:nth-child(2) {
  transition: opacity .5s .6s,-webkit-transform .3s .6s;
  transition: opacity .5s .6s,transform .3s .6s;
  transition: opacity .5s .6s,transform .3s .6s,-webkit-transform .3s .6s
}
.social__item:nth-child(3) {
  transition: opacity .5s .7s,-webkit-transform .3s .7s;
  transition: opacity .5s .7s,transform .3s .7s;
  transition: opacity .5s .7s,transform .3s .7s,-webkit-transform .3s .7s
}
.social__item:nth-child(4) {
  transition: opacity .5s .8s,-webkit-transform .3s .8s;
  transition: opacity .5s .8s,transform .3s .8s;
  transition: opacity .5s .8s,transform .3s .8s,-webkit-transform .3s .8s
}
.social__item:nth-child(5) {
  transition: opacity .5s .9s,-webkit-transform .3s .9s;
  transition: opacity .5s .9s,transform .3s .9s;
  transition: opacity .5s .9s,transform .3s .9s,-webkit-transform .3s .9s
}
.social__title {
  transition: opacity .5s .5s,-webkit-transform .3s .5s;
  transition: opacity .5s .5s,transform .3s .5s;
  transition: opacity .5s .5s,transform .3s .5s,-webkit-transform .3s .5s;
  opacity: 0;
  -webkit-transform: translateX(-.9375rem);
  transform: translateX(-.9375rem)
}
.footer__logo._watcher-view img {
  opacity: 1
}
.footer__logo._watcher-view span {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1
}
.footer__items._watcher-view .footer__item {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
.footer__social._watcher-view .social__item,
.footer__social._watcher-view .social__title {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.footer__bottom._watcher-view .footer__powered-by {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1
}
.footer__bottom._watcher-view .footer__copyright {
  opacity: .5
}
.page__hero {
  background: linear-gradient(78deg,#15002d 0,#31004b 100%)
}
.hero {
  color: #eee3ff
}
.hero__intro {
  position: relative
}
.intro {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center
}
.intro__content {
  display: flex;
  justify-content: center;
  align-items: center
}
.intro__body {
  text-align: center;
  position: relative;
  z-index: 2
}
.intro__arrow {
  display: none
}
.intro__title {
  -webkit-transform: translateY(1.5625rem);
  transform: translateY(1.5625rem);
  opacity: 0;
  transition: opacity .8s .7s,-webkit-transform .5s .7s;
  transition: opacity .8s .7s,transform .5s .7s;
  transition: opacity .8s .7s,transform .5s .7s,-webkit-transform .5s .7s;
  width: 100%;
  line-height: normal;
  font-weight: 700
}
.intro__title:not(:last-child) {
  margin-bottom: .9375rem
}
.intro__text {
  -webkit-transform: translateY(.9375rem);
  transform: translateY(.9375rem);
  opacity: 0;
  transition: opacity .8s 1.3s,-webkit-transform .5s 1.3s;
  transition: opacity .8s 1.3s,transform .5s 1.3s;
  transition: opacity .8s 1.3s,transform .5s 1.3s,-webkit-transform .5s 1.3s;
  line-height: 1.3;
  max-width: 32.5rem
}
.intro__image {
  transition: all .5s .3s;
  opacity: 0;
  pointer-events: none
}
.intro__image img {
  position: absolute;
  -o-object-fit: contain;
  object-fit: contain;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  max-width: 100%
}
.intro._watcher-view .intro__title {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1
}
.intro._watcher-view .intro__text {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1
}
.intro._watcher-view .intro__image {
  opacity: 1
}
.intro._watcher-view .intro__arrow {
  opacity: 1;
  right: 8.1875rem
}
.features {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1.25rem
}
.feature {
  border: .0625rem solid rgba(238,227,255,0);
  transition: border .5s;
  border-radius: .9375rem;
  padding: 2.5rem 1.875rem
}
.feature__upper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.875rem
}
.feature__upper:not(:last-child) {
  margin-bottom: 1.25rem
}
.feature__image {
  opacity: 0;
  transition: all .5s .1s;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  flex: 0 0 7.5rem
}
.feature__image img {
  max-width: 100%
}
.feature__count {
  opacity: 0;
  transition: opacity .5s;
  color: rgba(233,209,255,.2);
  font-size: 2.5rem;
  line-height: 1.3;
  font-weight: 700
}
.feature__title {
  -webkit-transform: translateY(1.25rem);
  transform: translateY(1.25rem);
  opacity: 0;
  transition: all .3s .3s;
  color: #fff;
  font-family: "Montserrat Alternates";
  line-height: normal;
  font-weight: 700
}
.feature__title:not(:last-child) {
  margin-bottom: .625rem
}
.feature__text {
  transition: all .3s .5s;
  -webkit-transform: translateY(.9375rem);
  transform: translateY(.9375rem);
  opacity: 0
}
.feature._watcher-view {
  border-color: rgba(238,227,255,.2)
}
.feature._watcher-view .feature__count {
  opacity: 1
}
.feature._watcher-view .feature__image {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1)
}
.feature._watcher-view .feature__title {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
.feature._watcher-view .feature__text {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
.about__container {
  position: relative
}
.main-about:not(:last-child) {
  margin-bottom: 1.25rem
}
.main-about__content {
  position: relative;
  display: flex
}
.main-about__content:not(:last-child) {
  margin-bottom: 2.5rem
}
.main-about__body {
  flex: 0 1 53.75rem
}
.main-about__title:not(:last-child) {
  margin-bottom: .625rem
}
.main-about__text p {
  transition: opacity .5s .5s,-webkit-transform .3s .5s;
  transition: transform .3s .5s,opacity .5s .5s;
  transition: transform .3s .5s,opacity .5s .5s,-webkit-transform .3s .5s;
  opacity: 0;
  -webkit-transform: translateY(.9375rem);
  transform: translateY(.9375rem)
}
.main-about__text p:nth-child(2) {
  transition: opacity .5s .7s,-webkit-transform .3s .7s;
  transition: transform .3s .7s,opacity .5s .7s;
  transition: transform .3s .7s,opacity .5s .7s,-webkit-transform .3s .7s
}
.main-about__text p:nth-child(3) {
  transition: opacity .5s .9s,-webkit-transform .3s .9s;
  transition: transform .3s .9s,opacity .5s .9s;
  transition: transform .3s .9s,opacity .5s .9s,-webkit-transform .3s .9s
}
.main-about .main-about__text._watcher-view p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1
}
.main-about__image {
  display: none
}
.main-about .main-about__image._watcher-view img {
  opacity: 1;
  height: 100%
}
.main-about__banner img {
  display: none
}
.main-about__info {
  border-radius: 1.25rem;
  background: linear-gradient(94deg,#3c035b 0,#1c0134 100%)
}
.about-info {
  padding: 3.125rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
  flex-wrap: wrap
}
.about-info__item {
  flex: 0 1 7.8125rem
}
.about-info__item:nth-child(1),
.about-info__item:nth-child(2) {
  align-self: flex-end
}
.about-info__item:nth-child(3),
.about-info__item:nth-child(4) {
  align-self: flex-start
}
.about-info__number {
  font-size: 3.125rem;
  font-weight: 700;
  line-height: normal;
  color: #fff
}
.about-info__text {
  color: #eee3ff
}
.team {
  margin: -.625rem;
  position: relative
}
.team__slider {
  padding: .625rem
}
.team__contols {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 40%;
  left: -.875rem;
  width: calc(100% + 1.75rem);
  z-index: 5
}
.slide-team {
  box-shadow: 2px 4px 8px 0 rgba(14,0,20,.15);
  background: #f5efff;
  overflow: hidden;
  border-radius: .9375rem;
  width: 100%
}
.slide-team__image {
  position: relative;
  padding-bottom: 76.1904761905%
}
.slide-team__image img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0
}
.slide-team__body {
  width: 100%;
  padding: .9375rem 1.25rem 1.25rem 1.25rem
}
.slide-team__name {
  font-weight: 600;
  font-family: "Montserrat Alternates";
  line-height: 1.3;
  font-size: 1.375rem
}
.slide-team__name:not(:last-child) {
  margin-bottom: .625rem
}
.slide-team__items {
  display: flex;
  flex-direction: column;
  gap: .625rem
}
.slide-team__items:not(:last-child) {
  margin-bottom: 1.25rem
}
.slide-team__item {
  display: flex;
  align-items: center;
  gap: .625rem;
  line-height: 1.3
}
.slide-team__icon {
  align-self: flex-start;
  color: #7900ae;
  font-size: 1.125rem
}
.slide-team__quote {
  line-height: 1.3;
  font-size: .875rem
}
.reviews__container {
  position: relative
}
.reviews__content {
  position: relative;
  -webkit-transform: translateY(50);
  transform: translateY(50);
  opacity: 0;
  transition: opacity .8s .3s,-webkit-transform .5s .3s;
  transition: transform .5s .3s,opacity .8s .3s;
  transition: transform .5s .3s,opacity .8s .3s,-webkit-transform .5s .3s
}
.reviews__slider {
  margin: -.625rem;
  padding: .625rem
}
.reviews__wrapper {
  display: flex;
  align-items: center
}
.reviews__contols {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: -1.5rem;
  width: calc(100% + 3rem);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 5
}
.reviews__button--prev {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}
.reviews__button--next {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg)
}
.reviews__content._watcher-view {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
.review {
  background-color: #eee3ff;
  border-radius: 1.25rem;
  border: .125rem solid #3d0057;
  box-shadow: .125rem .25rem .5rem 0 rgba(14,0,20,.15);
  padding: 1.25rem 1.875rem
}
.review__upper {
  display: flex;
  align-items: center;
  -webkit-column-gap: .9375rem;
  -moz-column-gap: .9375rem;
  column-gap: .9375rem
}
.review__upper:not(:last-child) {
  margin-bottom: .625rem
}
.review__avatar {
  align-self: flex-start
}
.review__avatar img {
  width: 3.75rem;
  height: 3.75rem;
  flex: 0 0 3.75rem;
  border-radius: 50%
}
.review__name {
  font-size: 1.25rem;
  font-weight: 700
}
.review__name:not(:last-child) {
  margin-bottom: .3125rem
}
.review__description {
  font-family: "Montserrat Alternates";
  font-weight: 500;
  line-height: 1.3;
  font-size: .875rem
}
.review__body {
  font-size: .875rem;
  line-height: 1.3
}
.review__body p:not(:last-child) {
  margin-bottom: .3125rem
}
.tariffs {
  background: linear-gradient(78deg,#31004b 0,#15002d 99.85%);
  color: #eee3ff
}
.tariffs__title {
  color: #fff;
  -webkit-transform: translateY(1.5625rem);
  transform: translateY(1.5625rem);
  text-align: center
}
.tariffs__items {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(21.875rem,auto));
  gap: 1.25rem
}
.tariff {
  overflow: hidden;
  -webkit-transform: translateY(3.125rem);
  transform: translateY(3.125rem);
  transition: opacity .7s .3s,-webkit-transform .5s .3s;
  transition: opacity .7s .3s,transform .5s .3s;
  transition: opacity .7s .3s,transform .5s .3s,-webkit-transform .5s .3s;
  opacity: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;
  border-radius: 1.25rem;
  border: .125rem solid #e9d1ff
}
.tariff__title {
  -webkit-transform: translateY(1.25rem);
  transform: translateY(1.25rem);
  opacity: 0;
  transition: opacity .7s .5s,-webkit-transform .5s .5s;
  transition: opacity .7s .5s,transform .5s .5s;
  transition: opacity .7s .5s,transform .5s .5s,-webkit-transform .5s .5s;
  font-family: "Montserrat Alternates";
  color: #eee3ff;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: normal
}
.tariff__items {
  display: flex;
  flex-direction: column;
  row-gap: .9375rem
}
.tariff__item {
  font-weight: 500;
  color: #fff;
  line-height: 1.3;
  display: flex;
  align-items: flex-start;
  -webkit-column-gap: .9375rem;
  -moz-column-gap: .9375rem;
  column-gap: .9375rem;
  -webkit-transform: translateY(.9375rem);
  transform: translateY(.9375rem);
  opacity: 0
}
.tariff__item--not-included {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: .5
}
.tariff__item:nth-child(1) {
  transition: opacity .7s .5s,-webkit-transform .5s .5s;
  transition: opacity .7s .5s,transform .5s .5s;
  transition: opacity .7s .5s,transform .5s .5s,-webkit-transform .5s .5s
}
.tariff__item:nth-child(2) {
  transition: opacity .7s .6s,-webkit-transform .5s .6s;
  transition: opacity .7s .6s,transform .5s .6s;
  transition: opacity .7s .6s,transform .5s .6s,-webkit-transform .5s .6s
}
.tariff__item:nth-child(3) {
  transition: opacity .7s .7s,-webkit-transform .5s .7s;
  transition: opacity .7s .7s,transform .5s .7s;
  transition: opacity .7s .7s,transform .5s .7s,-webkit-transform .5s .7s
}
.tariff__item:nth-child(4) {
  transition: opacity .7s .8s,-webkit-transform .5s .8s;
  transition: opacity .7s .8s,transform .5s .8s;
  transition: opacity .7s .8s,transform .5s .8s,-webkit-transform .5s .8s
}
.tariff__item:nth-child(5) {
  transition: opacity .7s .9s,-webkit-transform .5s .9s;
  transition: opacity .7s .9s,transform .5s .9s;
  transition: opacity .7s .9s,transform .5s .9s,-webkit-transform .5s .9s
}
.tariff__item:nth-child(6) {
  transition: opacity .7s 1s,-webkit-transform .5s 1s;
  transition: opacity .7s 1s,transform .5s 1s;
  transition: opacity .7s 1s,transform .5s 1s,-webkit-transform .5s 1s
}
.tariff__item:nth-child(7) {
  transition: opacity .7s 1.1s,-webkit-transform .5s 1.1s;
  transition: opacity .7s 1.1s,transform .5s 1.1s;
  transition: opacity .7s 1.1s,transform .5s 1.1s,-webkit-transform .5s 1.1s
}
.tariff__item::before {
  content: "";
  display: block;
  width: .4375rem;
  height: .4375rem;
  background-color: #e9d1ff;
  border-radius: 50%;
  -webkit-transform: translateY(.5em);
  transform: translateY(.5em)
}
.tariff__price {
  -webkit-transform: scale(.8);
  transform: scale(.8);
  opacity: 0;
  transition: opacity .7s 1s,-webkit-transform .5s 1s;
  transition: transform .5s 1s,opacity .7s 1s;
  transition: transform .5s 1s,opacity .7s 1s,-webkit-transform .5s 1s;
  line-height: 1.3;
  font-family: "Montserrat Alternates";
  color: #fff;
  font-weight: 600
}
.tariff__button {
  font-weight: 700;
  color: #0a0013;
  font-size: 1.125rem;
  width: 100%;
  background-color: #e9d1ff;
  border-radius: .75rem;
  text-align: center;
  padding: .9375rem 1.25rem;
  transition: background-color .3s
}
.tariff._watcher-view {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
.tariff._watcher-view .tariff__item,
.tariff._watcher-view .tariff__title {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
.tariff._watcher-view .tariff__price {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1
}
.tariff._watcher-view .tariff__item.tariff__item--not-included {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: .5
}
.questions__title:not(:last-child) {
  margin-bottom: 1.25rem
}
.questions__image {
  display: none
}
.questions .spollers__item {
  -webkit-transform: translateX(-1.875rem);
  transform: translateX(-1.875rem);
  opacity: 0
}
.questions .spollers__item:nth-child(1) {
  transition: opacity .7s .5s,-webkit-transform .5s .5s;
  transition: transform .5s .5s,opacity .7s .5s;
  transition: transform .5s .5s,opacity .7s .5s,-webkit-transform .5s .5s
}
.questions .spollers__item:nth-child(2) {
  transition: opacity .7s .7s,-webkit-transform .5s .7s;
  transition: transform .5s .7s,opacity .7s .7s;
  transition: transform .5s .7s,opacity .7s .7s,-webkit-transform .5s .7s
}
.questions .spollers__item:nth-child(3) {
  transition: opacity .7s .9s,-webkit-transform .5s .9s;
  transition: transform .5s .9s,opacity .7s .9s;
  transition: transform .5s .9s,opacity .7s .9s,-webkit-transform .5s .9s
}
.questions .spollers__item:nth-child(4) {
  transition: opacity .7s 1.1s,-webkit-transform .5s 1.1s;
  transition: transform .5s 1.1s,opacity .7s 1.1s;
  transition: transform .5s 1.1s,opacity .7s 1.1s,-webkit-transform .5s 1.1s
}
.questions .spollers__item:nth-child(5) {
  transition: opacity .7s 1.3s,-webkit-transform .5s 1.3s;
  transition: transform .5s 1.3s,opacity .7s 1.3s;
  transition: transform .5s 1.3s,opacity .7s 1.3s,-webkit-transform .5s 1.3s
}
.questions .spollers._watcher-view .spollers__item {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0)
}
.questions__image._watcher-view img {
  opacity: 1;
  max-height: 24.375rem
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:47.99875em) {
  .feature--big {
    grid-column: span 2
  }
  .main-about__lower {
    display: grid;
    grid-template-columns: 1fr minmax(auto,26.25rem);
    gap: 1.25rem
  }
  .main-about__banner img {
    display: inline-block;
    min-height: 7.5rem;
    max-width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 1.25rem
  }
  .tariff__title {
    padding-top: 1.25rem
  }
}
@media (min-width:61.99875em) {
  .reviews__slide {
    height: 100%
  }
  .review {
    height: 100%
  }
}
@media (min-width:73.125em) {
  .main-about__body {
    padding-bottom: .9375rem
  }
}
@media (min-width:73.75em) {
  .questions__body {
    display: flex;
    position: relative
  }
  .questions__content {
    flex: 0 1 50rem
  }
  .questions__image {
    display: block
  }
  .questions__image img {
    opacity: 0;
    -o-object-fit: contain;
    object-fit: contain;
    position: absolute;
    transition: opacity .7s .5s,max-height .5s .5s;
    bottom: 0;
    right: 9%;
    max-height: 18.75rem
  }
}
@media (min-width:76.875em) {
  .main-about__image {
    display: block
  }
  .main-about__image img {
    opacity: 0;
    -o-object-fit: contain;
    object-fit: contain;
    position: absolute;
    transition: opacity .7s .5s,height .5s .5s;
    top: 0;
    right: 9%;
    height: 70%
  }
}
@media (min-width:83.125em) {
  .text {
    font-size: 1rem
  }
  .title {
    font-size: 2.5rem
  }
  .footer {
    padding-top: 3.125rem
  }
  .footer {
    padding-bottom: 1.875rem
  }
  .page__hero {
    padding-bottom: 5rem
  }
  .hero__features {
    padding-top: 11.25rem
  }
  .intro__arrow {
    pointer-events: none;
    display: block;
    position: absolute;
    top: 60%;
    right: 6.25rem;
    opacity: 0;
    transition: right .5s 1.5s,opacity .5s 1.7s
  }
  .feature__title {
    font-size: 2rem
  }
  .about {
    padding-top: 5rem
  }
  .about {
    padding-bottom: 2.5rem
  }
  .reviews {
    padding-top: 2.5rem
  }
  .reviews {
    padding-bottom: 5rem
  }
  .reviews__title:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .tariffs {
    padding-top: 5rem
  }
  .tariffs {
    padding-bottom: 5rem
  }
  .tariffs__title:not(:last-child) {
    margin-bottom: 3.125rem
  }
  .tariff {
    row-gap: 2.5rem
  }
  .tariff__item {
    font-size: 1.125rem
  }
  .tariff__price {
    font-size: 2.5rem
  }
  .questions {
    padding-top: 5rem
  }
  .questions {
    padding-bottom: 5rem
  }
}
@media (min-width:48em) {
  .intro__title {
    font-size: 5rem
  }
  .intro__text {
    font-size: .875rem
  }
}
@media (max-width:55em) {
  .footer__logo span {
    padding: 6rem 1.875rem
  }
}
@media (max-width:20em) {
  .text {
    font-size: .9375rem
  }
  .title {
    font-size: 2rem
  }
  .footer {
    padding-top: 1.25rem
  }
  .footer {
    padding-bottom: .9375rem
  }
  .page__hero {
    padding-bottom: 1.25rem
  }
  .hero__features {
    padding-top: 3.75rem
  }
  .intro__title {
    font-size: 2.75rem
  }
  .intro__text {
    font-size: .75rem
  }
  .feature__title {
    font-size: 1.5rem
  }
  .about {
    padding-top: 1.25rem
  }
  .about {
    padding-bottom: .9375rem
  }
  .reviews {
    padding-top: .9375rem
  }
  .reviews {
    padding-bottom: 1.875rem
  }
  .reviews__title:not(:last-child) {
    margin-bottom: .9375rem
  }
  .tariffs {
    padding-top: 1.875rem
  }
  .tariffs {
    padding-bottom: 1.875rem
  }
  .tariffs__title:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .tariff {
    row-gap: 1.25rem
  }
  .tariff__item {
    font-size: 1rem
  }
  .tariff__price {
    font-size: 2rem
  }
  .questions {
    padding-top: 1.875rem
  }
  .questions {
    padding-bottom: 1.875rem
  }
}
@media (max-width:86.25em) {
  .team__contols {
    width: calc(100% - 1.75rem);
    left: .875rem
  }
  .reviews__contols {
    width: calc(100% + 2rem);
    left: -1rem
  }
  .reviews__button--prev {
    -webkit-transform: rotate(90deg) scale(.7);
    transform: rotate(90deg) scale(.7)
  }
  .reviews__button--next {
    -webkit-transform: rotate(-90deg) scale(.7);
    transform: rotate(-90deg) scale(.7)
  }
}
@media (max-width:83.125em)and (max-width:20em) {
  .feature {
    padding: 1.25rem
  }
}
@media (max-width:76.875em) {
  .main-about__content:not(:last-child) {
    margin-bottom: 1.25rem
  }
}
@media (max-width:73.75em) {
  .features {
    grid-template-columns: repeat(2,1fr)
  }
}
@media (max-width:71.875em) {
  .about-info {
    padding: 2.1875rem 2.5rem
  }
}
@media (max-width:65.6875em) {
  .main-about:not(:last-child) {
    margin-bottom: .9375rem
  }
}
@media (max-width:61.99875em) {
  .slider-button--prev {
    -webkit-transform: rotate(90deg) scale(.7);
    transform: rotate(90deg) scale(.7)
  }
  .slider-button--next {
    -webkit-transform: rotate(-90deg) scale(.7);
    transform: rotate(-90deg) scale(.7)
  }
  .footer__main {
    -webkit-column-gap: 5rem;
    -moz-column-gap: 5rem;
    column-gap: 5rem
  }
  .team__contols {
    width: calc(100% + .625rem);
    left: -.3125rem
  }
}
@media (max-width:51.25em) {
  .footer__main {
    justify-content: center;
    align-items: flex-start
  }
  .footer__logo {
    flex: 1 1 100%;
    justify-self: center;
    align-self: center;
    margin-top: 1.25rem;
    margin-bottom: 1.875rem
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    background-color: #eee3ff;
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 5rem .9375rem .9375rem 1.875rem;
    transition: left .3s
  }
  .menu__body::before {
    content: "";
    background-color: #eee3ff;
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__list {
    align-items: flex-start;
    flex-direction: column;
    row-gap: 1.25rem
  }
  .menu__link {
    font-size: 1.5rem
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    flex: 0 0 1.875rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #000
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .spollers__title {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem;
    padding: .9375rem;
    font-size: 1rem
  }
  .spollers__title::before {
    font-size: .875rem
  }
  .spollers__body {
    padding: 0 .9375rem .9375rem .9375rem
  }
  .header__container {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem;
    justify-content: space-between
  }
  .header__menu {
    justify-content: flex-end;
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
  .intro__title:not(:last-child) {
    margin-bottom: .625rem
  }
  .features {
    grid-template-columns: repeat(1,1fr)
  }
  .main-about__text p {
    transition: opacity .5s 0s,-webkit-transform .3s 0s;
    transition: transform .3s 0s,opacity .5s 0s;
    transition: transform .3s 0s,opacity .5s 0s,-webkit-transform .3s 0s;
    opacity: 0;
    -webkit-transform: translateY(.9375rem);
    transform: translateY(.9375rem)
  }
  .main-about__text p:nth-child(2) {
    transition: opacity .5s .2s,-webkit-transform .3s .2s;
    transition: transform .3s .2s,opacity .5s .2s;
    transition: transform .3s .2s,opacity .5s .2s,-webkit-transform .3s .2s
  }
  .main-about__text p:nth-child(3) {
    transition: opacity .5s .4s,-webkit-transform .3s .4s;
    transition: transform .3s .4s,opacity .5s .4s;
    transition: transform .3s .4s,opacity .5s .4s,-webkit-transform .3s .4s
  }
  .slide-team__body {
    padding: .9375rem
  }
  .slide-team__name {
    font-size: 1.25rem
  }
  .slide-team__items:not(:last-child) {
    margin-bottom: .9375rem
  }
  .slide-team__item {
    font-size: .9375rem
  }
  .tariffs__items {
    justify-content: center;
    grid-template-columns: repeat(auto-fill,minmax(18.125rem,26.25rem))
  }
  .tariff__price {
    transition: opacity .7s .3s,-webkit-transform .5s .3s;
    transition: transform .5s .3s,opacity .7s .3s;
    transition: transform .5s .3s,opacity .7s .3s,-webkit-transform .5s .3s
  }
}
@media (max-width:47.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:43.75em) {
  .about-info__item {
    text-align: center
  }
}
@media (max-width:29.99875em) {
  .header__logo img {
    max-width: 7.5rem
  }
  .header__button {
    font-size: .875rem;
    padding: .625rem .9375rem;
    border-radius: .5rem
  }
  .footer__main {
    flex-direction: column;
    justify-content: flex-start
  }
  .footer__logo {
    margin: 0
  }
  .intro__body {
    max-width: 17.5rem
  }
  .intro__title:not(:last-child) {
    margin-bottom: .3125rem
  }
  .feature__image {
    flex: 0 0 6.25rem
  }
  .feature__count {
    font-size: 2rem
  }
  .about-info {
    padding: 1.875rem
  }
  .review {
    padding: 1.25rem
  }
  .review__avatar img {
    height: 3rem;
    width: 3rem;
    flex: 0 0 3rem
  }
  .review__name {
    font-size: 1.125rem
  }
  .review__description {
    font-size: .75rem
  }
}
@media (min-width:20em)and (max-width:83.125em) {
  .text {
    font-size: clamp(.9375rem ,.9176980198rem + .099009901vw ,1rem)
  }
  .title {
    font-size: clamp(2rem ,1.8415841584rem + .7920792079vw ,2.5rem)
  }
  .footer {
    padding-top: clamp(1.25rem ,.6559405941rem + 2.9702970297vw ,3.125rem)
  }
  .footer {
    padding-bottom: clamp(.9375rem ,.640470297rem + 1.4851485149vw ,1.875rem)
  }
  .page__hero {
    padding-bottom: clamp(1.25rem ,.0618811881rem + 5.9405940594vw ,5rem)
  }
  .hero__features {
    padding-top: clamp(3.75rem ,1.3737623762rem + 11.8811881188vw ,11.25rem)
  }
  .feature__title {
    font-size: clamp(1.5rem ,1.3415841584rem + .7920792079vw ,2rem)
  }
  .about {
    padding-top: clamp(1.25rem ,.0618811881rem + 5.9405940594vw ,5rem)
  }
  .about {
    padding-bottom: clamp(.9375rem ,.442450495rem + 2.4752475248vw ,2.5rem)
  }
  .reviews {
    padding-top: clamp(.9375rem ,.442450495rem + 2.4752475248vw ,2.5rem)
  }
  .reviews {
    padding-bottom: clamp(1.875rem ,.8849009901rem + 4.9504950495vw ,5rem)
  }
  .reviews__title:not(:last-child) {
    margin-bottom: clamp(.9375rem ,.640470297rem + 1.4851485149vw ,1.875rem)
  }
  .tariffs {
    padding-top: clamp(1.875rem ,.8849009901rem + 4.9504950495vw ,5rem)
  }
  .tariffs {
    padding-bottom: clamp(1.875rem ,.8849009901rem + 4.9504950495vw ,5rem)
  }
  .tariffs__title:not(:last-child) {
    margin-bottom: clamp(1.875rem ,1.478960396rem + 1.9801980198vw ,3.125rem)
  }
  .tariff {
    row-gap: clamp(1.25rem ,.853960396rem + 1.9801980198vw ,2.5rem)
  }
  .tariff__item {
    font-size: clamp(1rem ,.9603960396rem + .198019802vw ,1.125rem)
  }
  .tariff__price {
    font-size: clamp(2rem ,1.8415841584rem + .7920792079vw ,2.5rem)
  }
  .questions {
    padding-top: clamp(1.875rem ,.8849009901rem + 4.9504950495vw ,5rem)
  }
  .questions {
    padding-bottom: clamp(1.875rem ,.8849009901rem + 4.9504950495vw ,5rem)
  }
}
@media (min-width:20em)and (max-width:48em) {
  .intro__title {
    font-size: clamp(2.75rem ,1.1428571429rem + 8.0357142857vw ,5rem)
  }
  .intro__text {
    font-size: clamp(.75rem ,.6607142857rem + .4464285714vw ,.875rem)
  }
}
@media (max-width:83.125em)and (min-width:83.125em) {
  .feature {
    padding: 1.875rem
  }
}
@media (max-width:83.125em)and (min-width:20em)and (max-width:83.125em) {
  .feature {
    padding: clamp(1.25rem ,1.051980198rem + .9900990099vw ,1.875rem)
  }
}
@media (min-width:76.875em)and (max-width:81.25em) {
  .main-about__image img {
    right: 3%
  }
}
@media (min-width:47.99875em)and (max-width:71.875em) {
  .main-about__lower {
    grid-template-columns: repeat(1,1fr)
  }
}
@media (min-width:47.99875em)and (max-width:65.6875em) {
  .main-about__lower {
    gap: .9375rem
  }
}
@media (min-width:73.75em)and (max-width:81.25em) {
  .questions__image img {
    right: 0
  }
}
@media (any-hover:hover) {
  .menu__link:hover {
    color: #4f0793
  }
  .button:hover {
    background-color: #5e197e
  }
  .social__item a:hover {
    opacity: .7
  }
  .slider-button:hover {
    background-color: #e8dbff
  }
  .footer__item a:hover {
    opacity: .7
  }
  .footer__powered-by a:hover {
    opacity: .7
  }
  .tariff__button:hover {
    background-color: #d2b3ee
  }
}